<!Doctype html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h1><%= title %><%= name %></h1>
<p>This is a random number <%=num %></p>
<blockquote>
	<%= quote; %>
</blockquote>
</div>
</body>
</html>
