<!Doctype html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
</head>
<body>
<div class="container">
<h1><i class='fa fa-globe'></i> <%= title %>the landing page!!!</h1>
<h2>This is the name of the page: <%= name %></h2>
<p>This is a random number <%=num %></p>
<blockquote>
	<%= quote; %>
</blockquote>
</div>
</body>
</html>
