<!Doctype html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h1><%= title.toUpperCase(); %></h1>
<%= name %> is the name of this page.<br/>
<%= num %> is the random number for this page.
	<form action="/troy" method="post">
	<input type="text" name="troy"/>
	<input type="submit" name="submit" />
	</form>
	<ul class='list-unstyled'>
		<% if(names != ""){
			for(var i=0; i < names.length; i++) { %>
			<li><%= names[i]%></li>
			<% } 
			}%>
	</ul>
</div>
</body>
</html>
