<!Doctype html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
</head>
<body>
<div class="container">
<h1><i class='fa fa-globe'></i> <%= title %></h1>
<%= name %> owns this page.<br/>
<%= num %> is the random number for this page.<br/>
<blockquote><%= id %> is the id of this page</blockquote>
	<form action="/troy" method="post">
	<input type="text" name="troy"/>
	<input type="submit" name="submit" />
	</form>
	<h2>Names: </h2>
	<ul class='list-unstyled'>
		<% if(names) {
			for(var i=0; i < names.length; i++) {
			if (i < names.length-1) { %>
			<li><del>Name:#<%= [i+1] %><%= names[i]%></del></li>
			<% } else { %>
			<li>Name:#<%= [i+1] %> <%= names[i]%></li>
			<% }
					}
		}%>
	</ul>
</div>
</body>
</html>
